@import "tailwindcss";

*{
  box-sizing: border-box;
  position: relative;
  min-width: 0;
 
}
html, body {
  /* height: 100%; */
  overflow-x: hidden;
}
body{
  min-height: 100dvh;
  background-color: #769164;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: #f9eae6
}

*::-webkit-scrollbar-thumb {
  background-color: #f2d0c7;
  border-radius: 0.5rem;
  border: 0.1rem solid #f2d0c7;
}
.prueba{
  background-color: #f8dfd8;
}